.app__BennerSection {
    background-color: var(--primaryColor);
    padding: 125px 0 150px;
    position: relative;
    overflow: hidden;
}

.appBenner__wrapper_info{
    text-align: center;
    position: relative;
    max-width: 1620px;
    margin: 0 auto;
}
.headingTitleBox{ margin-bottom: 113px;}
.appBenner__wrapper_info .BennerTitle{
    font-family: var(--font-base);
    font-size: 95px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -1.7999999523162842px;
    text-align: center;
    margin-bottom: 0;
    color: var(--color-white);
}
.bennerApp__wrapper {
	max-width: 1620px;
	margin: 0 auto;
}
.appBenner__wrapper_info .BennerTitle.tiTwo{font-weight: 300;}
.appBenner__wrapper_info .BennerTitle span.strockedText{
    -webkit-text-stroke: 2px var(--color-white);
    font-style: italic;
    -webkit-text-fill-color: transparent;
    -webkit-animation: fill 0.5s infinite alternate;
    font-weight: 500;
}
.appBenner__wrapper_info .custom__button.bennerBTN{
    width: 292px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: Inter;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: -0.13333334028720856px;
    line-height: 50px;
    color: var(--primaryColor);
    border: 2px solid transparent;
    transition: all 350ms ease-in-out;

}
.appBenner__wrapper_info .custom__button.bennerBTN:hover{
  background: transparent;
  border: 2px solid var(--color-white);
  color: var(--color-white);
}
@media (max-width: 1870px) {
    .appBenner__wrapper_info .BennerTitle {
        font-size: 80px;
    }
}
@media (max-width:1680px){

    .appBenner__wrapper_info .BennerTitle {
        font-size: 76px;
        line-height: 96px;
    }
    .headingTitleBox {
        margin-bottom: 92px;
    }
    .app__BennerSection {
        padding: 116px 0 267px;
    }
    .headingTitleBox {
        margin-bottom: 62px;
    }
}
@media (max-width:1440px){
    .appBenner__wrapper_info .BennerTitle {
        font-size: 50px;
        line-height: 75px;
    }
}
@media (max-width:1280px){
    .appBenner__wrapper_info .BennerTitle {
        font-size: 59px;
        line-height: 80px;
    }
}
@media (max-width:1199px){
    .appBenner__wrapper_info .BennerTitle {
        font-size: 57px;
        line-height: 87px;
    }
    .headingTitleBox {
        margin-bottom: 50px;
    }
    .app__BennerSection {
        padding: 116px 0 201px;
    }
}
@media (max-width: 991px){
    .app__BennerSection {
        padding: 125px 30px 180px;
        padding: 95px 30px 176px;
    }
    .appBenner__wrapper_info .BennerTitle {
        font-size: 47px;
        line-height: 71px;
    }
    .appBenner__wrapper_info .BennerTitle {
        font-size: 50px;
        line-height: 71px;
    } 
    .appBenner__wrapper_info .custom__button.bennerBTN {
        width: 178px;
        height: 49px;
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 767px){
    .app__BennerSection {
        padding: 127px 10px 65px;
        height: calc(100vh - 87px);
    }
    .bennerCrossShape {
        position: absolute;
        width: 86%;
        top: auto;
        bottom: 0;
        right: -76px;
    }
    .headingTitleBox {
        margin-bottom: 35px;
    }

    .appBenner__wrapper_info .BennerTitle {
        font-size: 28px;
        line-height: 42px;
    }
    .appBenner__wrapper_info .custom__button.bennerBTN {
        width: 138px;
        height: 48px;
        font-size: 22px;
        line-height: 19px;
        padding: 0 10px;
    }
}
@media (max-width:767px) and (min-width:378px) {
    .appBenner__wrapper_info .BennerTitle {
        font-size: 33px;
        line-height: 48px;
    }
}
.headingTitleBox{overflow: hidden;}

.headingTitleBox h1{
    transform: translateY(200px);
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
     transition: opacity 1s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
     transition: opacity 1s cubic-bezier(.215, .61, .355, 1), transform 1s cubic-bezier(.215, .61, .355, 1);
     transition: opacity 1s cubic-bezier(.215, .61, .355, 1), transform 1s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
       transition-delay: 0s, 0s, 0s;
}
.bennerBTN {
    transform: translateY(200px);
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
     transition: opacity 1s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
     transition: opacity 1s cubic-bezier(.215, .61, .355, 1), transform 1s cubic-bezier(.215, .61, .355, 1);
     transition: opacity 1s cubic-bezier(.215, .61, .355, 1), transform 1s cubic-bezier(.215, .61, .355, 1), -webkit-transform 1s cubic-bezier(.215, .61, .355, 1);
       transition-delay: 0s, 0s, 0s;
}

.slideDrwUp  h1{
    transform: translateY(0px);
    opacity: 1;
}
.slideDrwUp  h1.tiTwo{
    transform: translateY(0px);
    transition-delay: .5s;
}
.slideDrwUp  .bennerBTN{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .9s;
}