.app__footer{
    position: relative;
}

.AppFooter__Wrapper .AppFooter__LinkBox{
    padding: 0 90px;
    background-color: var(--color-brightRed);
}
.AppFooter__LinkBox .Footer__Navlink{text-align: center;display: flex;align-items: center;justify-content: center;}
.Footer__Navlink .Footer_NavItems{
    font-size: 20px;
    line-height: 68px;
    font-weight: 400;
    font-family: var( --font-alt);
    margin: 0;
    padding: 0 30px;
    list-style: none;
    color: var(--color-white);
}
.Footer_NavItems a{}
.AppFooter__CopyrightBox{
    text-align: center;
    padding: 0 90px;
}
.AppFooter__CopyrightBox .copyrightText {
    font-size: 21px;
    line-height: 70px;
    font-weight: 400;
    font-family: var( --font-alt);
    margin: 0;
    padding: 0 30px;
    list-style: none;
    color: var(--primaryColor);
    text-transform: uppercase;
    letter-spacing: .5px;
}
@media (max-width:1199px) {
    .AppFooter__Wrapper .AppFooter__LinkBox {
        padding: 0 40px;
    }
    .Footer__Navlink .Footer_NavItems {
        font-size: 16px;
    }
    .AppFooter__CopyrightBox .copyrightText {
        font-size: 18px;
    }
}
@media (max-width:991px) {
    .Footer__Navlink .Footer_NavItems {
        font-size: 13px;
        padding: 0 15px;
    }
    .AppFooter__CopyrightBox {
        text-align: center;
        padding: 0;
    }
    .AppFooter__CopyrightBox .copyrightText {
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .Footer__Navlink .Footer_NavItems {
        font-size: 15px;
        padding: 0;
        line-height: 35px;
    }
    .AppFooter__Wrapper .AppFooter__LinkBox {
        padding: 0;
    }
    .AppFooter__LinkBox .Footer__Navlink {
        display: block;
    }
    .AppFooter__Wrapper .AppFooter__LinkBox {
        padding: 35px 0;
    }
    .AppFooter__CopyrightBox .copyrightText {
        font-size: 13px;
        padding: 0;
    }
}